<div class='post-stuff'>
  <h2>This blog!</h2>
  <p>My first monolith of a project. It's big, it's ugly, 
  and it's easily the project I learned the most from.

  Take a look around. Laugh at my obvious frustration in commit
  messages. Leave a comment. Try to break something! And let me 
  know if you succeed :)</p>
 
  <p>Features include: </p>
  <ul>
    <li>Custom authorization</li>
    <li>Custom draft logic</li>
    <li>Custom style</li>
    <li>Omniauthable comments (with the help of this tutorial)</li>
    <li>Markdown using rouge and redcarpet</li>
  </ul>
</div>
