<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">

      <%= render 'blog' %>
      <div class='post-separator'> </div>
      <%= render 'blog' %>

    </div>
  </div>
</div>
