<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="post-show">

        <h3 class='show-title'><%=@post.title%></h3>
        <%=markdown(@post.body)%>
      </div>
    </div>
    
    <div class="col-sm-offset-2 col-sm-8">
      <div class=top-sep></div>
      <div class=top-sep></div>
      <div class='leave-comment'>
        <%=render 'layouts/leave_comment' %>
        <%=render 'layouts/comments' %>


        
      </div>
    </div>

  </div>
</div>
