@import "bootstrap-sprockets";
@import "bootstrap";

  .navbar-nav {
      text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

  .pjonestown {
    font-size: 80px;
    text-align: center;
  }

  .desc {
    text-align: center;
  }

  .top-sep {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 2px;
  }

  .top-bars {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .post-title {
    text-align: center;
  }

  .post-stuff {
    margin-left: 45px;
    margin-right: 45px;
  }

  .post-separator {
    width:100%;
    height:1px;
    background-color: black;
  }

  .read-more {
   float:right;
   float:top;
  }

  .why {
    height: 30px;
  }

  .show-title {
    color:  #d24d33;
    text-align: center;
    margin-bottom: 30px;
  }

  .post-show {
    margin-left: 20px;
    margin-right: 20px;
  }

  .leave-comment {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }



 






