<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <h1>New Draft</h1>

      <%= render 'form' %>

      <%= link_to 'Back', drafts_path %>
    </div>
  </div>
</div>
