<div class="container">
  <div class="row">
    <h1 class="pjonestown">Paul</h1>
    <h1 class="pjonestown">Johnston</h1>
    <p class="desc">traveller, learner, landlubber</p>
    <div class="col-sm-offset-2 col-sm-8 top-bars">
      <div class=top-sep></div>
      <div class=top-sep></div>
    </div>
  </div>
</div>
